@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #a99153;
$background: #f2f2f2;
$border: #5d5d5d;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: #000;
	.moduletable_to1 {
		padding: 10px 0;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1,
	h2 {
		font: {
			size: 16px;
			weight: bold;
		}
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.bellows {
		margin: 0 !important;
		background: transparent !important;
		box-shadow: none !important;
		ul {
			li {
				margin-bottom: 5px !important;
				&.bellows-current-menu-item {
					a {
						background-color: $secondary_color !important;
						color: #fff !important;
					}
				}
				a {
					padding: 10px !important;
					border: 1px solid $secondary_color !important;
					color: $secondary_color !important;
					text-transform: uppercase !important;
					&:hover {
						background-color: $secondary_color !important;
						color: #fff !important;
					}
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 - Block 2 */

.block_1,
.block_2 {
	padding: 30px 0;
	.moduletable_b11,
	.moduletable_b21 {
		a {
			color: $primary_color;
		}
		.text {
			margin: 0 2px;
			padding: 0 5px;
			border: {
				left: 1px solid $border;
				right: 1px solid $border;
			}
		}
	}
}

.block_1 {
	background-color: $background;
}

/* Block 3 */

.block_3 {
	margin-bottom: 30px;
	padding: 30px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		h3 {
			width: fit-content;
			margin: auto;
			padding-bottom: 10px;
			border-bottom: 1px solid #fff;
			font: {
				size: 14px;
				weight: bold;
			}
			color: #fff;
		}
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 60px 0;
	background: {
		image: url(block_4_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b41 {
		p {
			margin: 0;
		}
		a.hollow.button {
			margin: 0;
			border: {
				color: #fff;
				radius: 0;
			}
			color: #fff;
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 30px 0;
	.moduletable_b51 {
		h3 {
			margin: 0;
			font: {
				size: 14px;
				weight: bold;
			}
		}
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: #000;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}